<!DOCTYPE html>
<html>
    <head>
        <title>User Manage Page</title>

    </head>

    <body>
        <div class="userlist" th:unless="${#lists.isEmpty(users)}">

            <h2 th:text="#{title.list}">List of Users</h2>

            <table>
                <thead>
                    <tr>
                        <th th:text="#{user.name}">Name</th>
                        <th th:text="#{user.email}">Email</th>
                        <th th:text="#{user.role}">Role</th>
                        <th th:text="#{user.manage}">Manage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="#{|role.type.${user.role}|}"></td>
                        <td>Electric Heating, Turf</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
