<!DOCTYPE html>
<html>
<head>
<title>User Register Page</title>

</head>

<body>

	 <form  th:action="@{/register}" th:object="${register}" method="post">
		<p>用户注册页面：</p>
		<table width="60%" align="center">
			<colgroup>
				<col width="10%" align="right" />
				<col />
			</colgroup>
			<tr>
				<th>用户名：</th>
				 <td><input type="text" th:field="*{name}" /></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
			</tr>
			<tr>
				<th>密码：</th>
				 <td><input type="text" th:field="*{password}" /></td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
			</tr>
			<tr>
				<th>确认密码：</th>
				 <td><input type="text" th:field="*{confirmPassword}" /></td>
                    <td th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Password Error</td>
			</tr>
			<tr>
				<th>邮箱：</th>
				 <td><input type="text" th:field="*{email}" /></td>
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" value="注册" />
				</td>
			</tr>
		</table>
	</form>
</body>
</html>
